@squareSize: 40px;
@borderWidth: @squareSize/2.75;
@fontSize: 16px;

@darkSquare: #916647;
@lightSquare: #e3bb9d;
@highlight: 15%;

@validColor: limegreen;
@invalidColor: red;
@priorColor: gold;

@bgColor: #7c3636;
@dlgColor: fade(black, 50%);

@borderRadius: 3px;
@boxShadow: 0 0 8px fade(black, 50%);

@defaultFont: 'Titillium Web', sans-serif;

body {
    margin: 0;
    padding: 0;
    background-color: @bgColor;

    font-family: @defaultFont;
    font-weight: 200;

    &.show-settings {
        #settings {
            left: 0;
            box-shadow: @boxShadow;

        }
        #show-settings {
            opacity: 0;
            transition: none;
        }
    }
}

#btn-bar {
    z-index: 1;
    position: absolute;
    top: 0;

    box-sizing: border-box;

    width: 100%;
    padding: 4px 2px;

    h1 {
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);

        padding: 0;
        margin: 0;

        font-size: 24px;

        color: fade(white, 90%);
        filter: contrast(.1) brightness(5);
    }
}

.btn {
    cursor: pointer;

    border-radius: 20px;
    padding: 8px 9px;
    margin: 0 2px;

    font-size: 20px;

    color: fade(white, 50%);

    &:hover {
        color: white;
        background-color: fade(white, 15%);
    }
}

#show-settings {
    float: left;

    opacity: 1;
    transition: opacity .2s;
    transition-delay: .45s;
}
#hide-settings {
    float: right;
    margin: 6px 0 0 0;
    padding-right: 0;

    background-color: transparent;
}
#reset-game, #reset-layout {
    float: right;
}

#settings {
    z-index: 3;

    position: absolute;
    top: 0;
    left: -320px;

    width: 300px;
    overflow: hidden;

    background-color: @dlgColor;
    backdrop-filter: blur(3px);

    border-bottom-right-radius: 5px;

    transition: left .65s;

    color: white;

    select, .btn-group, input, .checkbox {
        border-radius: @borderRadius;
    }

    select {
        padding: 5px 8px;

        font-size: 14px;
        font-weight: 400;
        font-family: @defaultFont;
    }

    .settings-header {
        background-color: lighten(saturate(@bgColor, 15%), 8%);

        width: 100%;
        padding: 0 10px;

        box-sizing: border-box;

        label {
            font-weight: 600;
        }
        select {
            margin: 7px 3px;
        }
    }

    .settings-description {
        margin: 12px 9px;
        font-size: 15px;
        letter-spacing: .5px;
    }

    .settings-content {
        padding-bottom: 20px;

        label {
            display: inline-block;
            font-weight: 400;
            user-select: none;
            width: 95px;
        }

        .input-group {
            padding: 7px 20px;

            > div {
                display: inline-block;

                input {
                    border: none;
                    font-family: @defaultFont;
                    padding: 5px 0px;

                    &[type="number"] {
                        width: 50px;
                        text-align: center;
                    }
                }

                .spacer {
                    display: inline-block;
                    text-align: center;
                    width: 12px;
                }
            }
        }

        .checkbox-group {
            padding: 10px 20px;

            .custom-checkbox {
                margin-right: 6px;
                position: relative;
                display: inline-block;

                input[type="checkbox"] {
                    z-index: 2;
                    position: absolute;
                    top: 3px;

                    opacity: 0;
                    cursor: pointer;

                    &:checked {
                        ~.checkbox {
                            background-color: black;
                            box-shadow: inset 0 0 2px 3px white;
                            filter: contrast(5);
                        }
                    }
                }

                .checkbox {
                    z-index: 1;
                    position: relative;
                    top: 3px;
                    width: 18px;
                    height: 18px;
                    background-color: white;
                }
            }
        }
    }

    .btn-wrapper {
        text-align: center;
        width: 100%;
        padding: 22px 0;

        hr {
            display: inline-block;
            width: 42px;
            position: relative;
            bottom: 15px;
            margin: 0 8px;
        }
    }
    .btn-group {
        border: 2px solid white;
        display: inline-block;

        .toggle-btn {
            width: 80px;
            padding: 3px 0;
            margin: 0;

            float: left;

            cursor: pointer;
            user-select: none;

            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;

            &:hover {
                background-color: fade(white, 25%);
            }

            &.active {
                background-color: white;
                color: black;
            }
        }
    }
}

#state-graph {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: scroll;

    &.show-moves {
        .board {
            box-shadow: 0 0 0 2px black;
        }
        .border-square {
            display: inline-block;
            font-weight: 600;
        }

        #svg-layer {
            text, rect {
                display: block;
            }
        }
    }

    &.show-stats {
        .board-wrapper {
            margin: 0 64px;

            &:first-child {
                margin-left: 100px;
            }
            &:last-child {
                margin-right: 100px;
            }
        }
        .board-stats {
            display: block;
        }
    }
}

.row {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    padding: 50px 0;
}

.board-wrapper {
    display: inline-block;
    position: relative;

    pointer-events: none;

    margin: 0 24px;

    .board-stats {
        display: none;

        z-index: 2;
        position: absolute;
        top: 0px;
        left: 0;

        transform: translateX(-100%) translateX(-10px);

        padding: 0 10px;

        border-radius: 4px;

        background-color: @dlgColor;
        color: white;

        font-size: @fontSize;
        text-align: left;

        .stats-row {
            margin: 6px 0;

            &.complete {
                font-weight: 600;
                color: @invalidColor;
            }
            &.missing-connection {
                font-weight: 600;
                color: @priorColor;
            }
            &.solved {
                font-weight: 600;
                color: @validColor;
            }
        }
    }
}

.board {
    display: inline-block;
    position: relative;

    cursor: move;
    pointer-events: all;

    border-radius: @squareSize/10;
    overflow: hidden;

    box-shadow: @squareSize/20 @squareSize/13 0 @squareSize/20 darken(@darkSquare, 30%);

    // Checkered colors, independent of board size
    .board-row:nth-last-child(odd) .square:nth-last-child(odd),
    .board-row:nth-last-child(even) .square:nth-last-child(even) {
        background-color: @darkSquare;
        &.white:hover, &.black:hover {
            background-color: lighten(@darkSquare, @highlight);
        }
    }
    .board-row:nth-last-child(odd) .square:nth-last-child(even),
    .board-row:nth-last-child(even) .square:nth-last-child(odd) {
        background-color: @lightSquare;
        &.white:hover, &.black:hover {
            background-color: darken(@lightSquare, @highlight);
        }
    }

    .border-square {
        display: none;

        position: relative;
        background-color: darken(@bgColor, 12%);
        width: @squareSize;
        height: @borderWidth;

        .coord {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            color: white;
            opacity: 0.65;
            font-size: @borderWidth*.8;

            user-select: none;
        }

        &:first-child, &:last-child {
            width: @borderWidth;
        }
    }
    .board-row .border-square {
        height: @squareSize;
    }

    .square {
        position: relative;
        display: inline-block;

        width: @squareSize;
        height: @squareSize;

        .fa-chess-bishop {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: @squareSize/1.75;

            pointer-events: none;
            transition: font-size .15s;

        }

        &.black {
            cursor: pointer;
            color: black;
        }
        &.white {
            cursor: pointer;
            color: white;
        }

        &.valid-move {
            background-color: @validColor!important;
            cursor: pointer;

            &:hover {
                box-shadow: inset 0 0 0 3px white;
            }
        }
        &.invalid-move {
            background-color: @invalidColor!important;
        }
        &.prior-connected-move {
            background-color: @priorColor!important;
            cursor: pointer;
        }
        &.prior-explored-move {
            background: repeating-linear-gradient(
                -45deg,
                @priorColor,
                @priorColor 1px,
                fade(black, 25%) 1px,
                fade(black, 25%) 3.5px
            );
            cursor: pointer;
        }

        &:hover, &.selected {
            .fa-chess-bishop {
                font-size: @squareSize/1.4;
            }
        }
        &.selected {
            &.black {
                path {
                    stroke: fade(white, 80%);
                    stroke-width: @squareSize/1.3;
                }
            }
            &.white {
                path {
                    stroke: fade(black, 70%);
                    stroke-width: @squareSize/1.2;
                }
            }
        }
    }

    &.prior {
        box-shadow: 0 0 0 @squareSize/8 @priorColor!important;
    }

    animation: popIn .4s;
    transform-origin: top center;

    // Don't animate first board
    &#b0 {
        animation: none;
    }
}

.context-menu {
    position: absolute;
    display: none;

    pointer-events: all;

    background-color: fade(white, 65%);
    box-shadow: @boxShadow;
    backdrop-filter: blur(3px);

    border-radius: @borderRadius;

    .menu-option {
        padding: 6px 26px 6px 10px;

        text-align: left;
        font-weight: 400;
        font-size: 14px;

        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #444;
            color: white;
        }
    }
}

@keyframes popIn {
    0% { transform: scale(1); }
    20% { transform: scale(1.12); }
    100% { transform: scale(1); }
}

#svg-layer {
    z-index: -1;
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    path {
        stroke: white;
        stroke-width: 4px;
        stroke-linecap: round;
        fill: transparent;

        &.prior {
            stroke: @priorColor;
        }
    }

    text {
        display: none;

        fill: white;
        font-size: @fontSize;
        font-weight: 400;
        text-anchor: middle;
        dominant-baseline: central;

        &.prior {
            fill: @priorColor;
        }
    }

    rect {
        display: none;

        fill: @bgColor;
        stroke: white;
        stroke-width: 2px;

        &.prior {
            stroke: @priorColor;
        }
    }
}