@squareSize: 40px;

@darkSquare: #916647;
@lightSquare: #e3bb9d;
@highlight: 15%;

body {
    margin: 0;
    padding: 0;
    background-color: #7c3636;
}

#state-graph {
    position: relative;
}

.row {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 40px 0;

    -ms-overflow-style: none;
    scrollbar-width: none; 
    &::-webkit-scrollbar {
        display: none;
    }
}

.board {
    display: inline-block;

    border-radius: @squareSize / 10;
    overflow: hidden;

    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 0 2px darken(@darkSquare, 30%);

    margin: 0 16px;

    &:hover {
        box-shadow: 0 0 0 3px white;
    }

    // Checkered colors, independent of board size
    .board-row:nth-child(odd) .square:nth-child(odd),
    .board-row:nth-child(even) .square:nth-child(even) {
        background-color: @darkSquare;
        &:hover {
            background-color: lighten(@darkSquare, @highlight);
        }
    }
    .board-row:nth-child(odd) .square:nth-child(even),
    .board-row:nth-child(even) .square:nth-child(odd)  {
        background-color: @lightSquare;
        &:hover {
            background-color: darken(@lightSquare, @highlight);
        }
    }

    .square {
        position: relative;
        display: inline-block;

        width: @squareSize;
        height: @squareSize;

        cursor: pointer;

        .fa-chess-bishop {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: @squareSize / 1.75;

            pointer-events: none;

            &.black {
                color: black;
                // &:hover {
                //     path {
                //         stroke: white;
                //         stroke-width: 30px;
                //     }
                // }
            }
            &.white {
                color: white;
                // &:hover {
                //     path {
                //         stroke: black;
                //         stroke-width: 30px;
                //     }
                // }
            }
        }

        &:hover .fa-chess-bishop {
            background-color: orange;
            border-radius: 20px;
            padding: 5px 9px;
        }
    }
}

#curves {
    z-index: -1;

    position: absolute;
    top: 0;

    pointer-events: none;

    width: 100%;
    height: 100%;

    path {
        stroke: white;
        stroke-width: 4px;
        stroke-linecap: round;
        fill: transparent;

        &:hover {
            cursor: pointer;
            stroke: yellow;
        }
    }
}